#app {
  margin-top: 100px;
}

.spacer {
  min-height: 10px;
}

.sendform input { 
  border: 0; 
  height: 25px;
}

.messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: auto;
}
  
.messages li { 
  padding: 5px 10px;
  min-height: 30px;
}

.messages li:nth-child(odd) { 
  background: #eee; 
}

.chatters { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: auto;
}
  
.chatters li { 
  padding: 5px 5px;
}